body {
    background: #222222;
    color: white;
}

a {
    color: white;
}

.categoary_img {
    width: 100%;
}

.categoary_img_frame {
    float: left;
    width: 15%;
    padding: 0.5%;
}

.categoary_info {
    float: left;
    width: 30%;
}

.categoary_name {
    font-size: 2vw;
    font-family: "sans-serif";
    font-weight: bold;
    font-style: italic;
    align-content: center;
    float: right;
    padding-right: 5%;
    padding-top: 10%;
    color: white;
}

.btn_select {
    background: transparent;
    border: none;
    width: 100%;
}