body {
    background: #222222;
    color: white;
}

a {
    color: white;
}

div {
    color: white;
}

.subscribe_img {
    width: 100%;
}

.img_frame {
    width: 25%;
    float: left;
}

.img_preview_btn {
    /* width: 100%; */
    border: none;
    padding: 1px;
    background: transparent;
}

.img_row {
    width: 100%;
    clear: both;
}

.subscribe_item_name {
    font-size: 3vw;
    font-family: "sans-serif";
    font-style: italic;
    float: left;
}

.subscribe_item {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;
}

.title {
    font-size: 4vw;
    font-family: "serif";
    font-weight: bold;
}

.subtitle {
    font-size: 2vw;
    font-family: "sans-serif";
}

.title_group {
    display: flex;
    align-items: baseline;
    gap: 1vw;
    float: left;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.permalink_list {
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.permalink {
    font-size: 2vw;
    font-family: "sans-serif";
}

.logo_group {
    display: flex;
    justify-content: center;
}

.logo {
    width: 50%;
}