body {
    background: #222222;
    color: white;
}

a {
    color: white;
}

.img_frame {
    width: 25%;
    float: left;
}

/* 针对手机屏幕 */
@media (max-width: 1200px) {
  .img_frame {
    width: 50%;
  }
}

.img_preview {
    width: 100%;
}

.img_preview_btn {
    width: 100%;
    border: none;
    padding: 1px;
    background: transparent;
}

.img_row {
    width: 100%;
    clear: both;
}

.big_img { 
    width: 100%;
}

.big_img_row {
    clear: both;
}

.title {
    font-size: 4vw;
    font-family: "serif";
    font-weight: bold;
}

.subtitle {
    font-size: 2vw;
    font-family: "sans-serif";
}

.title_group {
    display: flex;
    align-items: baseline;
    gap: 1vw;
    float: left;
}

.permalink_list {
    padding-top: 1vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.permalink {
    font-size: 2vw;
    font-family: "sans-serif";
}

.logo_group {
    display: flex;
    justify-content: center;
}

.logo {
    width: 70%;
}