body {
    background: #222222;
    color: white;
}

a {
    color: white;
}

.img_frame {
    width: 25%;
    float: left;
}

.img_preview {
    width: 100%;
}

.img_preview_btn {
    width: 100%;
    border: none;
    padding: 1px;
    background: transparent;
}

.img_row {
    clear: both;
}

.big_img { 
    width: 100%;
}

.big_img_row {
    clear: both;
}

.label_name {
    font-size: 4vw;
    font-family: "sans-serif";
    font-weight: bold;
    font-style: italic;
}

.label_categoary {
    font-size: 2vw;
    font-family: "sans-serif";
}

.label_group {
    display: flex;
    align-items: baseline;
    gap: 1vw;
    float: left;
}

.categoary_link_list {
    padding-top: 1vw;
    display: flex;
    gap: 2vw;
    float: right;
}

.categoary_link {
    font-size: 2vw;
    font-family: "sans-serif";
}