<!DOCTYPE html>
<html>
<head>
    <script src="{{ doc_root }}js/categoary_index.js"></script>
    <link rel="stylesheet" href="{{ doc_root }}css/categoary_index.css">
</head>
<body>
    {% include "topbar" %}
    {% for item in item_list %}
    <button class="subscribe_item" onclick="select_categoary('{{ item.file }}')">
        <div class="subscribe_item_info"><div class="subscribe_item_name">{{ item.title }}</div></div>
        <div class="img_row">
            {% for post in item.post_list %}
            <div class="img_frame">
                <div class="img_preview_btn">
                    <img class="subscribe_img" src="{{ post.preview_url }}">
                </div>
            </div>
            {% endfor %}
            <div style="clear: both;"></div>
        </div>
    </button>
    {% endfor %}
</body>
</html>