<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <script src="{{ doc_root }}js/categoary_index.js"></script>
    <link rel="stylesheet" href="{{ doc_root }}css/categoary_index.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-decor">
        <div class="sparkle sparkle-1"></div>
        <div class="sparkle sparkle-2"></div>
        <div class="sparkle sparkle-3"></div>
        <div class="sparkle sparkle-4"></div>
        <div class="sparkle sparkle-5"></div>
    </div>

    <div class="page-container">
    {% include "topbar" %}
    <div class="section_grid">
    {% for item in item_list %}
    <button class="subscribe_item" onclick="select_categoary('{{ item.file }}')">
        <div class="subscribe_item_info">
            <span class="item_label">♪</span>
            <span class="subscribe_item_name">{{ item.title }}</span>
            <span class="item_deco">✧</span>
        </div>
        <div class="img_row">
            {% for post in item.post_list %}
            <div class="img_frame">
                <div class="img_preview_btn">
                    <img class="subscribe_img" loading="lazy" src="{{ post.preview_url }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </button>
    {% endfor %}
    </div>
    </div>
</body>

</html>